extends layout.pug

block content
    div.container-fluid
        div.row
        h1 Login Form
        form(action="/auth" method="POST" class="card-body")
            div(class="form-group")
                label(for="exampleInputEmail1") Username
                input(type="text" class="form-control" name="username" placeholder="Username" required)
            div(class="form-group")
                label(for="exampleInputPassword1") Password
                input(type="password" class="form-control"  name="password" placeholder="Password" required)
            div(class="form-group")
            button(type="submit" class="btn btn-primary") Submit